.nav {
    background-color:black;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;    
    z-index: 99;
    left: 0;
   
    
}
.nav img{
    width: 150px;
    height: 100px;
    max-width: 90%;
    left: 0;
}


/* Show the nav links on desktop */
.navList {
    display: flex; /* Show menu in desktop */
    justify-content: space-around;
    width: 100%;
    /* height: 100vh; */
    padding: 10px;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
}

.navList li {
    text-align: center;
    padding: 0 20px;
}

.navLink {
    color: red;
    text-decoration: none;
    /* cursor: pointer; */
    border-radius: 4rem;
}

.navLink:hover {
    color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navList {
        flex-direction: column; /* Stack items vertically */
        position: fixed;
        top: 10vh; /* Align below the nav */
        left: 0;
        width: 100%;
        height: calc(100vh - 10vh); /* Fill remaining height */
        background-color: black; /* Background color for mobile menu */
        overflow: hidden; 
        transition: opacity 0.3s ease; /* Smooth transition */
        opacity: 0; /* Start hidden */
        visibility: hidden; /* Start hidden */
    }
    
    .navList.showMenu {
        opacity: 1; /* Make visible */
        visibility: visible; /* Make visible */
    }

    .menuIcon {
        cursor: pointer;
        font-size: 2rem; 
        color: red;
        z-index: 1001; /* Ensure it's above other elements */
        padding: 50px;
    }

    .nav img {
        padding-top: 10px;
    }
}
