/* General styles for all elements */


/* Optional: add box-sizing for better layout control */
* {
  
    /* box-sizing: unset;  */
    /* width: 100%; */

}
body{
    background-color: black;
    width: 100%;
}
/* Media query for mobile devices */
@media (max-width: 768px) {

    body {

        overflow-x: hidden; 
        background-color: black;
    
    }
}
